<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6f6ea407a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
    
        <h1>TODO</h1>
        


        <form action="/auth/google" method="POST">
            <p>please log in to continue 😃</p>
            <button>sign in with<i class="fab fa-google"></i> </button>
        </form>

    </div>
    
</body>
</html>



