*{
    box-sizing: border-box;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff5eb;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
div{
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
button{
    width:200px;
    height: 50px;
}