html {
  background-color: #e4e9fd;
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.headingbox{
  margin-top: 100px;
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  padding-left: 0;
  font-size: 20px;
  font-weight: 200;
  color: black;
  flex:1;
  overflow-wrap: break-word;
  width: 50%;
  
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button.delbtn{
  background-color: white;
  color: rgb(236, 58, 58);
  font-size: 3rem;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color:#a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  margin-right: 10px;
}


.submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit input{
  flex: 1;
}


.logout button{
background-color: white;
color: yellowgreen;
position: absolute;
top: 5%;
right: 5%;
border-radius: 5px;
width: auto;
height: auto ;
font-size: 1rem;
  
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

i{
  margin: 0 5px;
}

@media(max-width:700px) {
  .logout button{
    font-size: 0.8rem;
    width: auto;
  
    

  }
  body{
    text-align: center;
  }

  
}